/*------------------------------------*\
$NEWS
\*------------------------------------*/
.home--news {
    padding: 20px 0;
    @include respond-to(tablet) {
        padding: 40px 0;
    }
    @include respond-to(desktop) {
        padding: 80px 0;
    }
}
.container__news {
    @include respond-to(tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-flow: row wrap;
    }
}
.item__news {
    border: 4px solid $light;
    margin-bottom: 30px;
    @include respond-to(tablet) {
        width: calc(33.333% - 13px);
        margin-right: 19px;
        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
    .no-touch & {
        transition: all $time;
        &:hover {
            background: $secundario;
        }
    }
    a {
        color: $light;
        .no-touch & {
            transition: all $time;
            &:hover {
                color: $main;
            }
        }
    }
}
.news__data {
    background: rgba($light, .2);
    color: $light;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    flex-flow: row wrap;
    height: 46px;
    padding: 5px 10px;
    span {
        color: $main;
    }
    p, span, a {
        @extend .medium;
        letter-spacing: 1px;
        @include font-size(12px, 14px);
        display: table;
        margin-left: 3px;
    }
}
.news__content {
    padding: 10px;
    h2 {
        @include font-size(21px, 24px);
        @include respond-to(desktop) {
            margin-bottom: 16px;
        }
    }
    p {
        display: none;
        color: $light;
        @extend .book;
        @include respond-to(desktop) {
            display: block;
        }
    }
}
.container--news {
    .home--news {
        min-height: calc(100vh - 291px);
        padding-top: 71px;
        @include respond-to(tablet) {
            min-height: calc(100vh - 211px);
            padding-top: 170px;
        }
        @include respond-to(desktop) {
            padding-top: 160px;
        }
    }
}